@import url("../fonts/Circe/stylesheet.css");
* {
  margin: 0;
  padding: 0;
  font-family: 'Circe';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #ffffff;
}

.center {
  padding-right: calc((100% - 1180px) / 2);
  padding-left: calc((100% - 1180px) / 2);
}

@media (max-width: 1180px) {
  .center {
    padding-right: calc((100% - 960px) / 2);
    padding-left: calc((100% - 960px) / 2);
  }
}

@media (max-width: 991.98px) {
  .center {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 774.98px) {
  .center {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 575.98px) {
  .center {
    padding-right: 15px;
    padding-left: 15px;
  }
}

a {
  text-decoration: none;
}

.button-all {
  border: none;
  outline: none;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #ffbb32;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
  padding: 10px 20px;
}

.button-all::after {
  content: url(../img/svg/arrow_right.svg);
  width: 5px;
  height: 5px;
  margin-left: 5px;
}

button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  outline: none;
}

button:hover {
  -webkit-box-shadow: 1px 1px 7px 0px #827c7c;
          box-shadow: 1px 1px 7px 0px #827c7c;
}

button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal {
  position: fixed;
  right: 9999px;
  left: -9999px;
  top: 0;
  bottom: 0;
  background: rgba(46, 46, 46, 0.85);
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.modal-content {
  position: absolute;
  max-width: 580px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  padding: 30px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 35px;
}

.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-title {
  font-weight: 800;
  font-size: 36px;
  line-height: 53px;
  letter-spacing: 0.01em;
  color: #000000;
}

.modal-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background: #efefef;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
}

.modal-close > span::after {
  width: 32px;
  height: 32px;
  content: url(../img/svg/close_icon.svg);
}

.modal-body__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 37px;
  padding-bottom: 33px;
  padding-right: 30px;
  grid-gap: 20px;
}

@media (max-width: 575.98px) {
  .modal-body__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#buy,
#call {
  opacity: 0;
}

.modal-name {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.modal-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-amount__minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background: #000000;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.modal-amount__minus::after {
  content: '-';
  color: #ffffff;
  font-size: 28px;
  line-height: 30px;
}

.modal-amount__minus:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.modal-amount__minus:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.modal-amount__minus_disabled {
  pointer-events: none;
  background: #ffffff;
  border: 1px solid #bababa;
}

.modal-amount__minus_disabled::after {
  color: #bababa;
}

.modal-amount__value {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: right;
  color: #000000;
  padding: 3px 20px;
  background: #ffffff;
  border: 1px solid #d2d2d2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin: 0 10px;
}

.modal-amount__plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background: #000000;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.modal-amount__plus::after {
  content: '+';
  color: #ffffff;
  font-size: 24px;
}

.modal-amount__plus:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.modal-amount__plus:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.hr {
  border: 1px solid #ebebeb;
  margin-left: -30px;
  margin-right: -30px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 32px 0;
}

.form-label {
  font-size: 16px;
  line-height: 24px;
  color: #222222;
}

.form-input {
  width: 250px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #d2d2d2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 13px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  grid-gap: 17px;
}

.policy-text {
  width: 222px;
  height: 30px;
  font-weight: 350;
  font-size: 14px;
  line-height: 15px;
  color: #5c5c5c;
}

.policy-link {
  text-decoration: underline;
}

.policy-button {
  width: 250px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffbb32;
  border-radius: 4px;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #222222;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ebebeb;
  min-height: 72px;
}

@media (max-width: 1180px) {
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media (max-width: 991.98px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 20px;
    padding-top: 20px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

#burger {
  width: 0;
  height: 0;
  position: absolute;
  left: -150vw;
}

#burger:checked + .header-nav {
  right: 20%;
  left: 0;
  z-index: 9999;
}

#burger:checked + .header-nav > .header-nav__link {
  color: #ffbb32;
  font-size: 4vh;
  padding: 2.2vh 0;
}

#burger:checked + .header-nav > .burger-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.burger-menu__line {
  width: 17px;
  height: 2px;
  background: #222222;
}

.burger-menu__line:nth-child(2) {
  margin: 3px 0;
}

@media (max-width: 991.98px) {
  .burger-menu__line:nth-child(2) {
    margin: 10px 0;
  }
}

@media (max-width: 991.98px) {
  .burger-menu__line {
    width: 50px;
    height: 5px;
    background: #ffbb32;
  }
}

@media (max-width: 1180px) {
  .burger-menu {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 991px) {
  .burger-menu {
    pointer-events: none;
  }
}

.burger-close {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border: 2px solid #df1111;
  border-radius: 5px;
}

.burger-close:before, .burger-close:after {
  content: '';
  position: absolute;
  top: 25px;
  left: 6px;
  width: 46px;
  height: 5px;
  background: #ad1212;
}

.burger-close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1180px) {
  .header-nav {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px 0 30px;
  }
}

@media (max-width: 991.98px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #000000eb;
    left: -120%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    padding-top: 80px;
    z-index: 9999;
  }
}

.header-nav__link {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #222222;
  padding: 0 13px;
}

@media (max-width: 1180px) {
  .header-nav__link {
    font-size: 25px;
  }
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 25px;
}

@media (max-width: 1180px) {
  .header-right {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    padding-top: 15px;
    padding-left: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 991.98px) {
  .header-right {
    padding-top: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

#burger-close {
  display: none;
}

#burger-close:checked + .header-contact {
  left: -120%;
}

.header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 650px) {
  .header-contact {
    position: fixed;
    width: 80%;
    height: 270px;
    bottom: 0;
    left: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10000;
  }
}

.header-phone {
  padding-right: 25px;
}

.header-phone__label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #8b8b8b;
}

.header-phone__number {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
}

@media (max-width: 650px) {
  .header-phone {
    padding-right: 0;
  }
  .header-phone__label {
    font-size: 3vh;
    line-height: 28px;
    color: #8b8b8b;
  }
  .header-phone__number {
    font-size: 4vh;
    line-height: 32px;
    color: #ffbb32a8;
  }
}

.header-email {
  padding-right: 25px;
}

.header-email__label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #8b8b8b;
}

.header-email__number {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
  cursor: pointer;
}

@media (max-width: 650px) {
  .header-email {
    padding-right: 0;
  }
  .header-email__label {
    font-size: 3vh;
    line-height: 28px;
    color: #8b8b8b;
  }
  .header-email__number {
    font-size: 4vh;
    line-height: 32px;
    color: #ffbb32a8;
  }
}

.header-call {
  border: 2px solid #ffc85a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-right: 25px;
  padding: 10px 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #222222;
  background: #ffffff;
  outline: none;
  cursor: pointer;
}

@media (max-width: 650px) {
  .header-call {
    margin-right: 0;
    background: #ffbb32;
    font-size: 4vh;
    line-height: 28px;
    padding: 20px;
    margin: 5px;
  }
}

.header-cart {
  display: block;
  position: relative;
  width: 26px;
  height: 24px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header-cart:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header-cart:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header-cart__img {
  width: inherit;
  height: inherit;
}

.header-cart::after {
  content: attr(data-amount);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -11px;
  left: -11px;
  width: 16px;
  height: 16px;
  background-color: #e6381f;
  border-radius: 50%;
  color: #ffffff;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 18px;
}

@media (max-width: 774.98px) {
  .header-cart::after {
    width: 24px;
    height: 24px;
    font-size: 16px;
  }
}

@media (max-width: 774.98px) {
  .header-cart {
    width: 50px;
    height: 50px;
  }
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12px;
  padding-bottom: 30px;
}

.heading {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 53px;
  letter-spacing: 0.01em;
  color: #000000;
}

@media (max-width: 775px) {
  .heading {
    text-align: center;
  }
}

.search-label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #333333;
  margin-bottom: 23px;
}

@media (max-width: 775px) {
  .search-label {
    text-align: center;
  }
}

.search-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #f5f5f5;
  border: 1px solid #e6e6e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
}

.search-form::before {
  position: absolute;
  content: '';
  background-image: url(../img/search.png);
  width: 18px;
  height: 18px;
  top: 18px;
  left: 16px;
}

.search-form__input {
  width: 100%;
  background: #f5f5f5;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 350;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  padding: 16px 18px;
  padding-left: 44px;
}

.search-form__button {
  background: #ffbb32;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #222222;
  padding: 11px 41px;
  margin: 3px;
  outline: none;
  border: none;
  cursor: pointer;
}

.bredcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

@media (max-width: 649.98px) {
  .bredcrumbs {
    display: none;
  }
}

.bredcrumbs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  border: 1px solid #ebebeb;
  border-right: none;
  border-radius: 12px 23px 23px 12px;
}

.bredcrumbs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bredcrumbs__item:not(:first-child) > a {
  font-size: 16px;
  line-height: 20px;
  color: #999999;
}

.bredcrumbs__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  color: #555555;
  padding: 0 21px 0 18px;
}

.bredcrumbs__link::after {
  content: '';
  position: absolute;
  right: -1px;
  width: 33px;
  height: 33px;
  border-top: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-radius: 8px 14px 8px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.product-heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 32px;
}

.product-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 280px;
      grid-template-columns: 1fr 280px;
  grid-gap: 28px;
}

@media (max-width: 991.98px) {
  .product-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 991.98px) {
  .product-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.product-info__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 70px;
}

@media (max-width: 1024px) {
  .product-info__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}

@media (max-width: 991.98px) {
  .product-info__content {
    width: 94vw;
  }
}

@media (max-width: 575.98px) {
  .product-info__content {
    text-align: center;
  }
}

.product-info__tabs {
  padding-top: 50px;
}

.product-info__tab-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f5f5f5;
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
}

@media (max-width: 575.98px) {
  .product-info__tab-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: 94vw;
  }
}

.product-info__tab-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-bottom: 2px solid transparent;
}

.product-info__tab-title:not(:last-child) {
  border-right: 1px solid #e8e8e8;
}

.product-info__tab-title_active {
  background: #ffffff;
  border-bottom: 2px solid #ffc652;
}

.product-info__tab-title:hover {
  background: white;
}

.product-info__tabs-content {
  padding-top: 30px;
  padding-bottom: 90px;
}

.product-info__tab-content {
  display: none;
}

.product-info__tab-heading {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #2c3136;
  margin-bottom: 20px;
}

.product-img__box-item {
  max-width: 380px;
}

@media (max-width: 575.98px) {
  .product-img__box-item {
    width: 94vw;
  }
}

.product-img__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
}

@media (max-width: 575.98px) {
  .product-img__list {
    display: none;
  }
}

.product-img__list-button {
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  border: none;
  background: #222222;
  border-radius: 6px;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  margin-right: 10px;
  cursor: pointer;
}

.product-img__list-button::after {
  content: url(../img/svg/arrow_left_white.svg);
  -webkit-transform: rotate(180deg) scale(1.4);
          transform: rotate(180deg) scale(1.4);
}

.product-img__list-button_back::after {
  content: url(../img/svg/arrow_left_white.svg);
  -webkit-transform: rotate(360deg) scale(1.4);
          transform: rotate(360deg) scale(1.4);
}

.product-img__list-button:hover {
  background: #555555;
}

.product-img__list-item {
  width: 76px;
  height: 76px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid transparent;
  cursor: pointer;
  margin-right: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product-img__list-item_active, .product-img__list-item:hover {
  border: 1px solid #222222;
}

.product-desc_fix {
  width: 361px;
}

.product-desc__title {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.product-desc__text {
  font-size: 16px;
  line-height: 30px;
  color: #333333;
  margin-top: 10px;
}

.product-desc__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 50px;
  padding-top: 20px;
}

.product-desc__item-name {
  font-size: 14px;
  line-height: 30px;
  color: #666666;
}

.product-desc__item-value {
  font-size: 16px;
  line-height: 30px;
  text-align: right;
  color: #000000;
}

.product-desc__list {
  margin-top: 50px;
}

.product-desc__list-item {
  font-size: 16px;
  line-height: 30px;
  color: #333333;
}

.product-desc__apply-title {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #2c3136;
  margin-top: 20px;
}

.product-desc__apply-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-desc__apply-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 12px;
  margin-right: 6px;
  margin-top: 2px;
  background: #ffffff;
  border: 1px solid #222222;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #222222;
}

input[name='tab'] {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}

input[name='tab']:checked + .product-info__tab-content {
  display: block;
}

.hr {
  border: 1px solid #ebebeb;
}

@media (max-width: 991.98px) {
  .hr {
    margin: 0;
  }
}

.product-aside__price {
  background: #ffffff;
  border: 1px solid #f7f7f7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 20px 20px 30px;
}

@media (max-width: 991.98px) {
  .product-aside__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 10px;
  }
}

@media (max-width: 789.98px) {
  .product-aside__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 10px;
  }
}

.product-aside__price-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-aside__price-item:not(:last-child) {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
}

@media (max-width: 991.98px) {
  .product-aside__price-item {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
  }
}

.product-aside__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.product-aside__price-value {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  color: #e6381f;
  padding: 4px 0 17px;
}

.product-aside__price-value > span {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #666666;
}

.product-aside__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.product-aside__btn-cart {
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #222222;
  padding: 10px 23px;
  background: #ffbb32;
  border-radius: 4px;
  cursor: pointer;
}

.product-aside__btn-buy {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 21px;
  color: #444444;
  background: #ffffff;
  border: 1px solid #848484;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  outline: none;
}

.product-take {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 80px;
}

.product-take__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 30px;
  color: #2c3136;
  padding: 76px 0 33px;
}

.product-take__content {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.product-take__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  outline: none;
  position: absolute;
  width: 30px;
  height: 30px;
  right: -22px;
  top: calc(50% - 20px);
  background: #222222;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 50%;
  z-index: 9999;
  cursor: pointer;
}

.product-take__btn_back {
  left: -22px;
}

.product-take__btn::after {
  content: url(../img/svg/arrow_left_white.svg);
  -webkit-transform: rotate(180deg) scale(1.4);
          transform: rotate(180deg) scale(1.4);
}

.product-take__btn_back::after {
  content: url(../img/svg/arrow_left_white.svg);
  -webkit-transform: rotate(360deg) scale(1.4);
          transform: rotate(360deg) scale(1.4);
}

.product-take__btn:hover {
  background: #555555;
}

@media (max-width: 774.98px) {
  .product-take__btn {
    display: none;
  }
}

.product-take__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media (max-width: 774.98px) {
  .product-take__cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

.card-product {
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 12px;
  padding: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card-product:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.1));
}

.product-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5f5f5;
  border-radius: 6px;
  width: 100%;
  height: 180px;
}

.product-header__slide-buttons {
  position: absolute;
  bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-header__slide-button {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid #959595;
  margin: 0 3px;
  cursor: pointer;
}

.product-header__slide-button_active {
  background: #000000;
}

.product-body {
  cursor: pointer;
}

.product-body:hover > .product-title {
  color: #ffaa00;
}

.product-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #222222;
  margin: 25px 0 11px;
}

.product-desc__name {
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  margin-bottom: 5px;
}

.product-desc__value {
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}

.product-footer {
  margin-top: 20px;
  margin-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-price {
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
  color: #222222;
}

.product-button {
  background: #433d89;
  border-radius: 4px;
  padding: 5px 11px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
}

.product-button:hover {
  -webkit-box-shadow: 1px 1px 1px #bbc;
          box-shadow: 1px 1px 1px #bbc;
}

.basket-body__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basket-body__amount-minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background: #000000;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.basket-body__amount-minus::after {
  content: '-';
  color: #ffffff;
  font-size: 28px;
  line-height: 30px;
}

.basket-body__amount-minus:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.basket-body__amount-minus:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.basket-body__amount-minus_disabled {
  pointer-events: none;
  background: #ffffff;
  border: 1px solid #bababa;
}

.basket-body__amount-minus_disabled::after {
  color: #bababa;
}

.basket-body__amount-value {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: right;
  color: #433d89;
  padding: 0 20px;
}

.basket-body__amount-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background: #000000;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.basket-body__amount-plus::after {
  content: '+';
  color: #ffffff;
  font-size: 24px;
}

.basket-body__amount-plus:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.basket-body__amount-plus:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.partners {
  padding-top: 77px;
  padding-bottom: 80px;
}

.partners-title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 30px;
  color: #2c3136;
}

@media (max-width: 575.98px) {
  .partners-title {
    text-align: center;
  }
}

.partners-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 113px;
}

@media (max-width: 991.98px) {
  .partners-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 50px;
  }
}

.partners-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 580px;
  height: 456px;
  border-radius: 12px;
}

.partners-item:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 1180px) {
  .partners-item {
    width: 88%;
    height: auto;
  }
}

@media (max-width: 991.98px) {
  .partners-item {
    margin: 50px 0;
    margin-right: 0 !important;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.partners-img {
  width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  -webkit-filter: drop-shadow(5px 5px 40px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(5px 5px 40px rgba(0, 0, 0, 0.25));
  border-radius: 12px;
}

.partners-text {
  position: absolute;
  bottom: 54px;
  left: 38px;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 35px;
  letter-spacing: 0.01em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #ffffff;
  z-index: 1000;
}

@media (max-width: 1180px) {
  .partners-text {
    font-size: 2.5vw;
    line-height: 2.5vw;
    bottom: 10%;
    left: 5%;
  }
}

@media (max-width: 991.98px) {
  .partners-text {
    font-size: 5.5vw;
    line-height: 5.5vw;
    bottom: 10%;
    left: 5%;
  }
}

.partners-button {
  position: absolute;
  bottom: 55px;
  right: 30px;
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #b7e4d4;
  border-radius: 50%;
  background: transparent;
  z-index: 1000;
  cursor: pointer;
}

.partners-button::after {
  content: ' ';
  width: 10px;
  height: 10px;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-right: 5px;
}

@media (max-width: 1180px) {
  .partners-button {
    bottom: 10%;
    width: 5vw;
    height: 5vw;
  }
}

@media (max-width: 991.98px) {
  .partners-button {
    right: 5%;
    width: 10vw;
    height: 10vw;
  }
}

.footer {
  background: #1b1d1f;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 48px;
  padding-bottom: 48px;
}

@media (max-width: 775px) {
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-nav__item {
  height: 24px;
  list-style: none;
  border-bottom: 1px solid #535353;
}

.footer-nav__item:not(:last-child) {
  margin-right: 30px;
}

.footer-nav__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-contact__phone {
  margin-right: 30px;
}

.footer-contact__phone-label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #8b8b8b;
}

.footer-contact__phone-number {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.footer-contact__email-label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #8b8b8b;
}

.footer-contact__email-address {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}

@media (max-width: 775px) {
  .footer-contact {
    margin-top: 30px;
  }
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #757575;
  padding: 13px 0;
}

.partners {
  background: #F3F7FA;
}
