.articles {
	background: #f3f7fa;
	padding-top: 72px;
	padding-bottom: 95px;
}
.articles-header {
	display: flex;
	justify-content: space-between;
	padding-bottom: 27px;
}
.articles-title {
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 41px;
	color: #2c3136;
}

.articles-body {
	display: flex;
	justify-content: space-between;
	&__left {
		margin-right: 20px;
		@media (max-width: 775px) {
			margin-right: 0;
		}
		
	}

	&__right {
		display: flex;
		flex-direction: column;
	}
	@media (max-width: 991.98px) {
		flex-direction: column;
	}
}
.article-big {
	position: relative;

	&__img {
		max-width: 100%;
		height: auto;
		border-radius: 12px;
		@media (max-width: 991.98px) {
			width: 180px;
			height: 135px;
			margin-right: 15px;
		}
		@media (max-width: 775px) {
			width: 90%;
			height: auto;
			margin-right: 0;
		}
	}

	&__date {
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		line-height: 20px;
		color: #80868c;
		padding: 16px 0 9px;
	}

	&__title {
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 20px;
		color: #2c3136;
	}

	&__text {
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		color: #80868c;
		padding-top: 10px;
	}

	@media (max-width: 991.98px) {
		display: flex;
		align-items: center;
		margin-bottom: 40px;
		&::after {
			position: absolute;
			content: '';
			width: 100%;
			height: 0;
			left: 0;
			right: 0;
			bottom: -21px;
			border: 1px solid #d8dde1;
		}
	}
	@media (max-width: 775px) {
		flex-direction: column;
		align-items: center;
	}
}

.article-small {
	position: relative;
	display: flex;
	// justify-content: space-between;
	align-items: center;
	&:not(:last-child) {
		margin-bottom: 40px;
	}
	&__img {
		width: 180px;
		height: 130px;
		border-radius: 8px;
		@media (max-width: 775px) {
			width: 90%;
			height: auto;
			margin-bottom: 15px;
		}
	}

	&__body {
		padding-left: 19px;
	}

	&__date {
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		line-height: 20px;
		color: #80868c;
	}

	&__title {
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 20px;
		color: #2c3136;
		margin: 10px 0;
	}

	&__text {
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		color: #80868c;
	}

	&:not(:last-child)::after {
		position: absolute;
		content: '';
		width: 100%;
		height: 0;
		left: 0;
		right: 0;
		bottom: -21px;
		border: 1px solid #d8dde1;
	}
	@media (max-width: 775px) {
		flex-direction: column;
	}
}
