.bredcrumbs {
	display: flex;
margin-bottom: 30px;
     @media (max-width: 649.98px) {
		display: none;
	}
	&__nav {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		border: 1px solid #ebebeb;
		border-right: none;
		border-radius: 12px 23px 23px 12px;
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		&:not(:first-child) > a {
			font-size: 16px;
			line-height: 20px;
			color: #999999;
		}
	}

	&__link {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40px;
		font-size: 16px;
		line-height: 20px;
		color: #555555;
		padding: 0 21px 0 18px;
		&::after {
			content: '';
			position: absolute;
			right: -1px;
			width: 33px;
			height: 33px;
			border-top: 1px solid #ebebeb;
			border-right: 1px solid #ebebeb;
			border-radius: 8px 14px 8px 0;
			transform: rotate(45deg);
		}
	}
}
