.partners {
	padding-top: 77px;
	padding-bottom: 80px;
}

.partners-title {
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 30px;
	color: #2c3136;
	@media (max-width: 575.98px) {
		text-align: center;
	}
}
.partners-content {
	display: flex;
	padding-top: 113px;
	@media (max-width: 991.98px) {
		flex-direction: column;
		padding-top: 50px;
	}
}
.partners-item {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 580px;
	height: 456px;
	border-radius: 12px;
	&:not(:last-child) {
		margin-right: 20px;
	}
	@media (max-width: 1180px) {
		width: 88%;
		height: auto;
	}
	@media (max-width: 991.98px) {
		margin: 50px 0;
		margin-right: 0 !important;
		align-self: center;
	}
}
.partners-img {
	width: 100%;
	height: inherit;
	object-fit: cover;
	object-position: top;
	filter: drop-shadow(5px 5px 40px rgba(0, 0, 0, 0.25));
	border-radius: 12px;
	// @media (max-width: 1180px) {
	// 	width: 305px;
	// 	height: auto;
	// }
	// @media (max-width: 991.98px) {
	// 	width: 460px;
	// 	height: auto;
	// 	left: 150px;
	// 	top: -95px;
	// }
	// @media (max-width: 774.98px) {
	// 	width: 366px;
	// 	left: 85px;
	// 	top: -75px;
	// }

	// @media (max-width: 575.98px) {
	// 	width: 60vw;
	// 	left: 10%;
	// }
}
.partners-text {
	position: absolute;
	bottom: 54px;
	left: 38px;
	font-style: normal;
	font-weight: 800;
	font-size: 40px;
	line-height: 35px;
	letter-spacing: 0.01em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #ffffff;
	z-index: 1000;
	// border: 1px solid #78ab99;
	@media (max-width: 1180px) {
		font-size: 2.5vw;
		line-height: 2.5vw;
		bottom: 10%;
		left: 5%;
	}
	@media (max-width: 991.98px) {
		font-size: 5.5vw;
		line-height: 5.5vw;
		bottom: 10%;
		left: 5%;
	}
}
.partners-button {
	position: absolute;
	bottom: 55px;
	right: 30px;
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #b7e4d4;
	border-radius: 50%;
	background: transparent;
	z-index: 1000;
	cursor: pointer;
	&::after {
		content: ' ';
		width: 10px;
		height: 10px;
		border-right: 2px solid #ffffff;
		border-bottom: 2px solid #ffffff;
		transform: rotate(-45deg);
		margin-right: 5px;
	}
	
	@media (max-width: 1180px) {
		bottom: 10%;
		width: 5vw;
		height: 5vw;
	}

	@media (max-width: 991.98px) {
		right: 5%;
		width: 10vw;
		height: 10vw;
	}
}
